*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    transition: background 1s ease;
}

main{
    width: 80%;
    background: rgba(40, 40, 40, 0.483);
}

#status_code{
    padding: 0.5ex;
    font-size: 30ex;
    text-align: center;
    
}

#status_code span {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#message{
    padding: 3ex;
    font-size: 3ex;
    text-align: center;
    background: 
}