*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 1s ease;
}

main{
    width: 80%;
}

#status_code{
    font-size: 20ex;
    text-align: center;
    background: blue;
}

#status_code span {
    opacity: 1;
    background: white;
    transition: opacity 0.5s ease;
}

#message{
    font-size: 3ex;
    text-align: center;
    background: green;
}