main{
    display: grid;
    place-items: center;
}

#typing_container{
    background: red;
    
    margin: 0ex 2ex 0ex 2ex;
}


#code_typing{
    font-family: 'Courier New', Courier, monospace;

    height: 40ex;

    padding: 5ex;


    white-space: pre-wrap;
    background: black;
    color: white;
}

#failed {
    color: red;
}

#skipped {
    color: rgb(56, 56, 56);
}

#current {
    background: rgb(180, 180, 180);
    color: white;
}




#keyboard {
    font-family: 'Courier New', Courier, monospace;
    background: black;
    user-select: none;
    width: 120ex;
    display: inline-block;
    margin: 2ex;
}

#keyboard .row {
    display: flex;
    justify-content: center;
    margin: 0.1ex 0;
}

#keyboard .row .key {
    height: 3ex;

    background-color: #ddd;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 15px;
    margin: 2px;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s;
    flex: 1;
}

#keyboard .row .key.active {
    background-color: red;
}