<!DOCTYPE html>
<html>
<head>
    <title>Python</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <nav id="menu">
        <ul>
            <li><a href="/" id="logo">Fast Code</a></li>
            <li><a>Statistics</a></li>
        </ul>
    </nav>

    <main>
        <ul id="code_list">

        </ul>


    </main>
    <script src="{{ url_for('static', filename='js/python.js') }}"></script>
    <script src="{{ url_for('static', filename='js/code_list.js') }}"></script>
</body>
</html>
