<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fast Code</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav id="menu">
        <ul>
            <li><a href="/" id="logo">&#128511; Fast Code</a></li>
            <li><a>Statistics</a></li>
        </ul>
    </nav>

    <main>

        <button>Random</button>

        <form action="{{ url_for('edd_file') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".py, .java, .cpp, .c, .js">
            <input type="submit" value="Upload">
        </form>
        
        <ul id="languages_block">
            <li>
                
                <a href="/python">
                    <img src="{{ url_for('static', filename='images/python_logo.png') }}"/>
                    Python</a>
            </li>
            
            <li>
                <a href="/java">
                    <img src="{{ url_for('static', filename='images/java_logo.png') }}"/>
                    Java</a>
            </li>
        </ul>
    </main>
</body>
</html>
