<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{login}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!--extends "nav-bar.html"-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/" id="logo">&#128511; Fast Code</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/statistics">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>



    <main class="m-3 bg-dark text-white">
        <div class="container">
            <div class="w-50 p-3">
                <img class="img-fluid rounded-circle d-block mx-auto"
                     style="width: 20em; height: 20em;"
                     src="https://avatars.githubusercontent.com/u/147267828?v=4"
                     alt="Profile Image">

                <div class="text-center p-2" >{{ login }}</div>
            </div>

            <div class="bg-dark w-50">
                <div>
<!--                    Detail info-->

                </div>
                <div>
                    <div>
<!--                        links-->
                        <ul id="user_links_list">

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div>
<!--            statistic-->
        </div>

        <div>

        </div>
    </main>

<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
</body>
</html>