<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav id="menu">
        <ul>
            <li><a href="/" id="logo">&#128511; Fast Code</a></li>
            <li><a href="/statistics">Statistics</a></li>
        </ul>
    </nav>

    <main>
        <h1>Statistics</h1>
        <div id="info_div"></div>
    </main>

    <script src="{{ url_for('static', filename='js/statistics.js') }}"></script>
</body>