<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typing.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/" id="logo">&#128511; Fast Code</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/statistics">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <div id="typing_container">
            <div id="code_typing">

            </div>
    
            <div id="keyboard">
                <div class="row">
                    <div class="key">Esc</div>
                    <div class="key">F1</div>
                    <div class="key">F2</div>
                    <div class="key">F3</div>
                    <div class="key">F4</div>
                    <div class="key">F5</div>
                    <div class="key">F6</div>
                    <div class="key">F7</div>
                    <div class="key">F8</div>
                    <div class="key">F9</div>
                    <div class="key">F10</div>
                    <div class="key">F11</div>
                    <div class="key">F12</div>
                </div>
                <div class="row">
                    <div class="key" style="flex: 0.2;">~</div>
                    <div class="key">1</div>
                    <div class="key">2</div>
                    <div class="key">3</div>
                    <div class="key">4</div>
                    <div class="key">5</div>
                    <div class="key">6</div>
                    <div class="key">7</div>
                    <div class="key">8</div>
                    <div class="key">9</div>
                    <div class="key">0</div>
                    <div class="key">-</div>
                    <div class="key">=</div>
                    <div class="key" style="flex: 2;">Backspace</div>
                </div>
                <div class="row">
                    <div class="key">Tab</div>
                    <div class="key">Q</div>
                    <div class="key">W</div>
                    <div class="key">E</div>
                    <div class="key">R</div>
                    <div class="key">T</div>
                    <div class="key">Y</div>
                    <div class="key">U</div>
                    <div class="key">I</div>
                    <div class="key">O</div>
                    <div class="key">P</div>
                    <div class="key">[</div>
                    <div class="key">]</div>
                    <div class="key">\</div>
                </div>
                <div class="row">
                    <div class="key">Caps Lock</div>
                    <div class="key">A</div>
                    <div class="key">S</div>
                    <div class="key">D</div>
                    <div class="key">F</div>
                    <div class="key">G</div>
                    <div class="key">H</div>
                    <div class="key">J</div>
                    <div class="key">K</div>
                    <div class="key">L</div>
                    <div class="key">;</div>
                    <div class="key">'</div>
                    <div class="key">Enter</div>
                </div>
                <div class="row">
                    <div class="key">Shift</div>
                    <div class="key">Z</div>
                    <div class="key">X</div>
                    <div class="key">C</div>
                    <div class="key">V</div>
                    <div class="key">B</div>
                    <div class="key">N</div>
                    <div class="key">M</div>
                    <div class="key">,</div>
                    <div class="key">.</div>
                    <div class="key">/</div>
                    <div class="key">Shift</div>
                </div>
                <div class="row">
                    <div class="key" style="flex: 2;">Ctrl</div>
                    <div class="key" style="flex: 1">Sys</div>
                    <div class="key" style="flex: 1;">Alt</div>
                    <div class="key" style="flex: 6;">Space</div>
                    <div class="key" style="flex: 1;">Alt</div>
                    <div class="key" style="flex: 2;">Ctrl</div>
                </div>
            </div>
        </div>

        
    </main>

    <script src="{{ url_for('static', filename='js/typing.js') }}"></script>
</body>
</html>