<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav id="menu">
        <ul>
            <li><a href="/" id="logo">Fast Code</a></li>
            <li><a>Statistics</a></li>
        </ul>
    </nav>

    <main>
        <h1>FIle = {{ file }} {{ language }}</h1>


        <dev id="code_typing">

        </dev>

        <dev id="keybord">
            
        </dev>
        
    </main>

</body>
</html>